<div class="bg-off-white pv4">
  <div class="ph3 mw7 center tc-ns">
    <h2 class="f2 b lh-title mb2">{{.intro.heading}}</h2>
    <p class="mb4 mw8">{{.intro.text}}</p>
   
    <h4 class="f4 b lh-title mb2 primary tech-stack-title">Web Development</h4>
    <div class="flexb">
    {{ range .web_dev_technologies}}  
    <article class="clients last">
      <span></span><a href="{{ .href }}"><img src="{{ .src }}" alt="logo" /></a>
      <h6>{{ .title }}</h6>
    </article>
    {{ end }}
    </div>

    <h4 class="f4 b lh-title mb2 primary mt3 tech-stack-title">Infrastrucure and code</h4>
    <div class="flexb">
    {{ range .infrastrucure_and_code_technologies}}
    <article class="clients last">
      <span></span><a href="{{ .href }}"><img src="{{ .src }}" alt="logo" /></a>
      <h6>{{ .title }}</h6>
    </article>
    {{ end }}
    </div>

    <h4 class="f4 b lh-title mb2 primary mt3 tech-stack-title">Data</h4>
    <div class="flexb">
    {{ range .data_technologies}}
    <article class="clients last">
      <span></span><a href="{{ .href }}"><img src="{{ .src }}" alt="logo" /></a>
      <h6>{{ .title }}</h6>
    </article>
    {{ end }}
    </div>
    
    <!-- <div class="flex-ns mhn2-ns mb3">
      {{ range .products }}
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div> -->

    <!-- <div class="tc">
      <a href="/products" class="btn raise">See all services</a>
    </div> -->
  </div>
</div>
