<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% style "css/normalize.css" %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

    {% style "css/style.css" %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    {% script "js/visibility.js" %}
    {% script "js/sidebar.js" %}
    {% script "js/transition.js" %}
    {% script "js/dropdown.js" %}
    <script>
        $(document)
            .ready(function () {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function () {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function () {
                            $('.fixed.menu').transition('fade out');
                        }
                    })
                    ;

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item')
                    ;
                // show dropdown on hover
                $('.menu .ui.dropdown').dropdown({
                    on: 'hover'
                });

            })
            ;
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M041QK80R5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-M041QK80R5');
    </script>
</head>

<body>

    <!-- Following Menu -->
    <div class="ui large top fixed hidden secondary pointing menu secondMenu">
        <div class="ui container">
            <a class="logo item netdava-logo">
                <img src="{{index-uri}}img/netdava-menu-logo.png">
            </a>
            <div class="right menu">
                <a href="/" class="ui item">Home</a>
                <div class="ui dropdown item">
                    Services <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{{index-uri}}pages/web-development">Web Development</a>
                        <a class="item" href="{{index-uri}}pages/report-design">PDF Report Design</a>
                        <a class="item" href="{{index-uri}}pages/it-app-development">IT Application Development</a>
                        <a class="item" href="{{index-uri}}pages/business-process-automation">Business Process
                            Automation</a>
                        <a class="item" href="{{index-uri}}pages/business-digitalisation">Business Digitalisation</a>
                        <a class="item" href="{{index-uri}}pages/cloud-consultancy-services">Cloud consultancy
                            services</a>
                    </div>
                </div>
                <a href="{{index-uri}}pages/contact" class="ui item">Contact</a>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical sidebar menu">
        <a class="logo item netdava-logo">
            <img src="{{index-uri}}img/netdava-menu-logo.png">
        </a>
        <a href="/" class="ui item">Home</a>
        <div class="ui dropdown item">
            Services <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{{index-uri}}pages/web-development">Web Development</a>
                <a class="item" href="{{index-uri}}pages/report-design">PDF Report Design</a>
                <a class="item" href="{{index-uri}}pages/it-app-development">IT Application Development</a>
                <a class="item" href="{{index-uri}}pages/business-process-automation">Business Process Automation</a>
                <a class="item" href="{{index-uri}}pages/business-digitalisation">Business Digitalisation</a>
                <a class="item" href="{{index-uri}}pages/cloud-consultancy-services">Cloud consultancy services</a>
            </div>
        </div>
        <a href="{{index-uri}}pages/contact" class="ui item">Contact</a>
    </div>

    <div class="pusher">
        <div class="ui large secondary pointing menu main-menu">
            <div class="ui container">
                <a class="toc item">
                    <i class="bars icon hamburger-menu"></i>
                </a>
                <a class="logo item netdava-logo">
                    <img src="{{index-uri}}img/netdava-menu-logo-white.png">
                </a>
                <div class="right menu main-menu-items">
                    <a href="/" class="ui item">Home</a>
                    <div class="ui dropdown item">
                        Services <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="{{index-uri}}pages/web-development">Web Development</a>
                            <a class="item" href="{{index-uri}}pages/report-design">PDF Report Design</a>
                            <a class="item" href="{{index-uri}}pages/it-app-development">IT Application Development</a>
                            <a class="item" href="{{index-uri}}pages/business-process-automation">Business Process
                                Automation</a>
                            <a class="item" href="{{index-uri}}pages/business-digitalisation">Business
                                Digitalisation</a>
                            <a class="item" href="{{index-uri}}pages/cloud-consultancy-services">Cloud consultancy
                                services</a>
                        </div>
                    </div>
                    <a href="{{index-uri}}pages/contact" class="ui item">Contact</a>
                </div>
            </div>
        </div>
        {% block content%}
        {% endblock %}
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable center aligned grid">
                    <div class="five wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="{{site-uri}}/pages/contact" class="item">Contact Us</a>
                            <a class="item" href="{{index-uri}}/sitemap.xml">Site Map</a>
                            <a class="item" href="#">Terms and Conditions</a>
                            <a class="item" href="#">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="five wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a class="item" href="{{index-uri}}pages/web-development">Web Development</a>
                            <a class="item" href="{{index-uri}}pages/report-design">PDF Report Design</a>
                            <a class="item" href="{{index-uri}}pages/it-app-development">IT Application Development</a>
                            <a class="item" href="{{index-uri}}pages/business-process-automation">Business Process
                                Automation</a>
                            <a class="item" href="{{index-uri}}pages/business-digitalisation">Business
                                Digitalisation</a>
                            <a class="item" href="{{index-uri}}pages/cloud-consultancy-services">Cloud consultancy
                                services</a>
                        </div>
                    </div>
                    <div class="five wide column">
                        <h3 class="ui inverted header">Social</h3>
                        <a href="https://twitter.com/netdava" class="item"><i class="twitter large icon"></i></a>
                        <a href="#" class="item"><i class="facebook large icon"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>