{% extends "/html/base.html" %}
{% block content %}
<div class="ui vertical masthead center aligned segment homeMasthead">
      <div class="ui middle aligned grid container homepage-container">
          <div class="eight wide column">
            <h1 class="ui header">Netdava</h1>
            <h3>Technology working for you</h3>
            <div class="ui primary button">Our services</div>
          </div>
          <div class="eight wide right floated column">
            <img src="{{index-uri}}img/problem_solving.png" class="ui huge rounded image">
          </div>
      </div>
     
</div>
<div class="ui text main container">
  <div class="ui vertical stripe">
    <div class="ui stackable grid">
      <div class="row why-nedtava">
        <div class="six wide column">
          <h1 class="ui big header">Why Netdava?</h1>
        </div>
        <div class="ten wide column">
          <p>Netdava is a company built from passion to deliver great value to it's customers.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui main text center aligned container">
   <div class="ui vertical stripe">
    <div class="ui grid center aligned">
      <div class="row">
        <h1 class="ui big header">What we offer</h1>
        <p>Netdava offers a range of IT services that can add value to your business. We love building API's,
          Software-as-a-Service systems and similar software. We also offer consultancy in this area and can
          work together with your team.</p>
      </div>
    </div>
   </div>
  </div>
</div>
<div class="ui three column stackable grid container">
<div class="column">
  <div class="ui center aligned segment">
    <img src="{{index-uri}}img/services/web_design.png" style="height: 150px;" class="ui centered image">
    <h2 class="ui header">Web Development</h2>
    <a class="ui tertiary button" href="{{index-uri}}pages/web-development">Find out more</a>
  </div>
</div>
<div class="column">
  <div class="ui center aligned segment">
    <img src="{{index-uri}}img/services/pdf_report.png" style="height: 150px;" class="ui centered image">
    <h2 class="ui centered header">PDF Report Design</h2>
    <a class="ui tertiary button" href="{{index-uri}}pages/report-design">Find out more</a>
  </div>
</div>
<div class="column">
  <div class="ui center aligned segment">
    <img src="{{index-uri}}img/services/app_development.png" style="height: 150px;" class="ui centered image">
    <h2 class="ui centered header">IT Application Development</h2>
    <a class="ui tertiary button" href="{{index-uri}}pages/it-app-development">Find out more</a>
  </div>
</div>
<div class="column">
  <div class="ui center aligned segment">
    <img src="{{index-uri}}img/services/business.png" style="height: 150px;" class="ui centered image">
    <h2 class="ui header">Business Process Automation</h2>
    <a class="ui tertiary button" href="{{index-uri}}pages/business-process-automation">Find out more</a>
  </div>
</div>
<div class="column">
  <div class="ui center aligned segment">
    <img src="{{index-uri}}img/services/startup.png" style="height: 150px;" class="ui centered image">
    <h2 class="ui header">Business Digitalisation</h2>
    <a class="ui tertiary button" href="{{index-uri}}pages/business-digitalisation">Find out more</a>
  </div>
</div>
<div class="column">
  <div class="ui center aligned segment">
    <img src="{{index-uri}}img/services/cloud_services.png" style="height: 150px;" class="ui centered image">
    <h2 class="ui header">Cloud consultancy services</h2>
    <a class="ui tertiary button" href="{{index-uri}}pages/cloud-consultancy-services">Find out more</a>
  </div>
</div>
</div>

  <div class="ui main container vertical stripe">
    <h1 class="ui header center aligned">
      We have expertise with the following technologies:
    </h1>
  
    <h4 class="ui horizontal divider header">
      <i class="file code icon"></i>
      Web development
    </h4>
    <div class="we-use-wrapper">
      <div class="tech-wrapper">
        <span></span>
        <a href="https://graphql.org">
          <img src="{{site-url}}/img/technology-stack/graphql-logo.svg">
        </a>
        <h5>GraphQL</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://www.javascript.com">
          <img src="{{site-url}}/img/technology-stack/javascript-logo.svg">
        </a>
        <h5>JavaScript</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://reactjs.org">
          <img src="{{site-url}}/img/technology-stack/react-logo.svg">
        </a>
        <h5>React</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://gohugo.io">
          <img src="{{site-url}}/img/technology-stack/hugo-logo.svg">
        </a>
        <h5>Hugo</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3">
          <img src="{{site-url}}/img/technology-stack/css3-logo.svg">
        </a>
        <h5>CSS3</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
          <img src="{{site-url}}/img/technology-stack/html5-logo.svg">
        </a>
        <h5>HTML5</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://sass-lang.com">
          <img src="{{site-url}}/img/technology-stack/sass-logo.svg">
        </a>
        <h5>SaSS</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX">
          <img src="{{site-url}}/img/technology-stack/ajax-logo.svg">
        </a>
        <h5>Ajax</h5>
      </div>
    </div>
  
    <h4 class="ui horizontal divider header">
      <i class="laptop code icon"></i>
      Infrastructure and code
    </h4>
    <div class="we-use-wrapper">
      <div class="tech-wrapper">
        <span></span>
        <a href="https://kubernetes.io/">
          <img src="{{site-url}}/img/technology-stack/kubernetes-logo.svg">
        </a>
        <h5>Kubernetes</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://www.terraform.io/">
          <img src="{{site-url}}/img/technology-stack/terraform-logo.svg">
        </a>
        <h5>Terraform</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://git-scm.com/">
          <img src="{{site-url}}/img/technology-stack/git-logo.svg">
        </a>
        <h5>Git</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://gradle.org/">
          <img src="{{site-url}}/img/technology-stack/gradle-logo.svg">
        </a>
        <h5>Gradle</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://www.java.com">
          <img src="{{site-url}}/img/technology-stack/java-logo.svg">
        </a>
        <h5>Java</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://nodejs.org/en/">
          <img src="{{site-url}}/img/technology-stack/nodejs-logo.svg">
        </a>
        <h5>Node.js</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://www.omg.org/bpmn/">
          <img src="{{site-url}}/img/technology-stack/bpmn-logo.svg">
        </a>
        <h5>Business Process Model & Notation</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://camunda.com/">
          <img src="{{site-url}}/img/technology-stack/camunda-logo.svg">
        </a>
        <h5>Camunda</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://oauth.net/2/">
          <img src="{{site-url}}/img/technology-stack/oauth-2-sm.png">
        </a>
        <h5>Oauth2</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://openid.net/">
          <img src="{{site-url}}/img/technology-stack/openid-icon-100x100.png">
        </a>
        <h5>OpenId Connect</h5>
      </div>
    </div>
      <h4 class="ui horizontal divider header">
      <i class="server icon"></i>
      Data
    </h4>
    <div class="we-use-wrapper">
      <div class="tech-wrapper">
        <span></span>
        <a href="https://www.postgresql.org/">
          <img src="{{site-url}}/img/technology-stack/postgresql-logo.svg">
        </a>
        <h5>PostgreSQL</h5>
      </div>
      <div class="tech-wrapper">
        <span></span>
        <a href="https://www.sqlite.org/index.html">
          <img src="{{site-url}}/img/technology-stack/sqlite-logo.svg">
        </a>
        <h5>SQLite</h5>
      </div>
  </div>

  </div>

  {% endblock %}